* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}

.container {
  width: 50rem;
  overflow: hidden;
  margin: auto;
  margin-top: 11rem;
  background-color: #fff;
  display: flex;
  border-radius: 1rem;
}

.content {
  padding: 3rem;
  width: 50%;
}

h1 {
  font-family: Fraunces;
  font-size: 3rem;
  line-height: 44px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  color: hsl(228, 12%, 48%);
}

.main-img {
  height: 38rem;
  width: 25rem;
}

.description {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 18px;
  color: hsl(228, 12%, 48%);
  line-height: 28px;
}

.main {
  font-family: Fraunces;
  font-size: 42px;
  color: hsl(158, 36%, 37%);
}

.discount {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 18px;
  color: hsl(228, 12%, 48%);
  margin: 16px 30px;
}

.price {
  display: flex;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn {
  height: 4rem;
  width: 19rem;
  background-color: hsl(158, 36%, 37%);
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  border: none;
  border-radius: 0.75rem;
}

.btn img {
  position: relative;
  right: 1rem;
  top: 0.2rem;
  height: 1.25rem;
  width: 1.25rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
